.contentWrapper {
  justify-content: center;
  /*align-items: center;*/
  text-align: left;
  border-radius: 0 0 60px 60px;
  border: 1px solid var(--Foundation-Blue-blue-100, #b7bfc3);
  background-color: #fff;
  display: flex;
  gap: 10px;
  overflow: hidden;
  padding: 0 95px;
}

.header {
  border-radius: 41px;
  background-color: #fff;
  align-self: stretch;
  display: flex;
  width: 593px;
  flex-direction: column;
  overflow: hidden;
  justify-content: start;
  margin: auto 0;
  padding: 48px 33px;
}

.logo {
  aspect-ratio: 6.45;
  object-fit: contain;
  object-position: center;
  width: 302px;
  max-width: 100%;
}

.slogan {
  margin-top: 8px;
  color: var(--primary-color);
  font: 500 20px SFT Schrifted Sans TRIAL, -apple-system, Roboto, Helvetica,
    sans-serif;
}

.trackingTitle {
  display: flex;
  margin-top: 50px;
  /*align-items: center;*/
  text-align: left;
  gap: 12px;
}

.trackingIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 36px;
}

.trackingHeading {
  color: var(--primary-color);
  font: 600 32px SFT Schrifted Sans TRIAL, -apple-system, Roboto, Helvetica,
    sans-serif;
}

.searchForm {
  display: flex;
  margin-top: 25px;
  width: 100%;
  flex-direction: column;
}

.radioGroup {
  border: none;
  padding: 0;
  margin: 0;
}

.radioLegend {
  color: var(--primary-color);
  font: 600 17px SFT Schrifted Sans TRIAL, -apple-system, Roboto, Helvetica,
    sans-serif;
}

.radioOption {
  display: flex;
  /*align-items: center;*/
  text-align: left;
  gap: 8px;
  margin-top: 8px;
}

.radioInput {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #9d9e9f;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.radioInput:checked {
  background-color: #21a179;
  border-color: #21a179;
}

.radioLabel {
  color: var(--primary-color);
  font: 500 16px SFT Schrifted Sans TRIAL, -apple-system, Roboto, Helvetica,
    sans-serif;
}

.inputGroup {
  margin-top: 29px;
}

.inputLabel {
  color: var(--primary-color);
  font: 600 17px SFT Schrifted Sans TRIAL, -apple-system, Roboto, Helvetica,
    sans-serif;
}

.searchInput {
  border-radius: 16.571px;
  border: 1.036px solid var(--Foundation-Blue-blue-200, #959fa5);
  background-color: #fff;
  width: 100%;
  min-height: 48px;
  margin-top: 4px;
  padding: 12px 17px;
  font-size: 16px;
  color: #010101;
}

.searchButton {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  text-align: left;
  border-radius: 16.571px;
  background-color: var(--Foundation-Blue-blue-100, #b7bfc3);
  margin-top: 17px;
  min-height: 44px;
  width: 100%;
  gap: 8px;
  padding: 10px 17px;
  font-size: 16px;
  color: #010101;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.searchIconDiv {
  padding-top: 3px;
  width: 24px;
  height: 24px;
  padding-right: 8px;
}
.searchIcon {
  width: 18px;
  height: 18px;
}

.eKojaKojaLink {
  display: flex;
  /*align-items: center;*/
  text-align: left;
  gap: 8px;
  color: var(--primary-color) 101;
  text-decoration: underline;
  font: 600 17px SFT Schrifted Sans TRIAL, -apple-system, Roboto, Helvetica,
    sans-serif;
  margin-top: 50px;
}

.eKojaKojaIcon {
  width: 25px;
  height: 25px;
}

.trackingDetails {
  display: flex;
  flex-direction: column;
  width: 593px;
  max-width: 100%;
  margin-top: 37px;
}

.orderDetails {
  border-radius: 24px;
  border: 0.5px solid var(--secondary-color);
  background-color: #fff;
  padding: 16px 24px;
  margin-top: 48px;
  /* margin-left: 32px; */
  width: 594px;
}

.orderHeader {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 8px;
}
.orderIcon {
  width: 28px;
  height: 28px;
}

.orderTitle {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

.orderInfo {
  display: flex;
  margin-top: 16px;
  gap: 16px;
  flex-wrap: wrap;
}

.infoItem {
  display: flex;
  flex-direction: column;
  min-width: 120px;
  flex: 1;
}

.infoLabel {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: var(--label-clair);
}

.infoValue {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-top: 6px;
  color: var(--primary-color);
}
.infoDepart {
  color: var(--blue);
}

.searchOrder {
  margin-top: 24px;
}

.searchLabel {
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.searchInputWrapper {
  display: flex;
  /*align-items: center;*/
  text-align: left;
  border-radius: 16px;
  border: 1px solid var(--Foundation-Blue-blue-200, #959fa5);
  background-color: #fff;
  margin-top: 4px;
  padding: 12px 16px;
}

.orderSearchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: #010101;
  background: #ffffff;
  cursor: text;
}
.orderSearchInput::placeholder {
  font-family: "Poppins", sans-serif;
}

.trackingTimeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  background-color: #f6f7f7;
  width: 100%;
  height: 100%;
}

.timelineSection {
  border-radius: 24px !important;
  margin: 28px;
  width: 594px;
}

.timelineHeader {
  display: flex;
  justify-content: space-between;
  text-align: left;
  /*align-items: center;*/
  text-align: left;
  padding: 16px;
  background-color: #fff;
  border-radius: 24px;
  border: 1px solid var(--Foundation-Blue-blue-100, #b7bfc3);
  cursor: pointer;
}
.expandIcon {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.trackingNumber {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

.colisCount {
  color: #959fa5;
}

.expandIcon {
  width: 24px;
  height: 24px;
}

.timelineDetails {
  background-color: #ffffff;
  border: 1px solid var(--Foundation-Blue-blue-100, #b7bfc3);
  border-top: none;
  border-radius: 0 0 24px 24px;
  /* padding: 16px; */
}

.shipmentInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.infoRow {
  display: flex;
  gap: 16px;
}

.timelineEvent {
  display: flex;
  /*align-items: center;*/
  text-align: left;
  gap: 16px;
  margin-bottom: 16px;
}

.eventStep {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--Foundation-Blue-blue-300, #64747c);
  color: #fff;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  text-align: left;
  font-weight: 600;
}

.eventDetails {
  flex: 1;
}

.eventTitle {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-size-small);
  color: #ffffff;
}

.eventDate {
  color: var(--label-clair);
  font-size: var(--text-size-small);
  font-weight: var(--font-weight-regular);
  margin-top: 4px;
}

.trackingItem {
  margin-top: 16px;
  background-color: #fff;
  border-radius: 24px;
  border: 1px solid var(--Foundation-Blue-blue-100, #b7bfc3);
}

.trackingItemContent {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  text-align: left;
  padding: 16px;
}

@media (max-width: 991px) {
  .trackingScreen {
    padding-bottom: 100px;
  }

  .contentWrapper {
    padding: 0 20px;
  }

  .header {
    padding: 0 20px;
  }

  .slogan,
  .trackingTitle,
  .searchForm,
  .trackingDetails {
    max-width: 100%;
  }

  .trackingTitle {
    margin-top: 40px;
  }

  .eKojaKojaLink {
    margin-top: 40px;
    white-space: normal;
  }

  .orderDetails,
  .timelineHeader,
  .timelineDetails {
    padding: 16px;
  }

  .infoRow {
    flex-direction: column;
  }
}
/* mobile */
@media (max-width: 767px) {
  .timelineSection {
    width: 326px;
  }
  .timelineDetails {
    padding: 0;
  }
  .orderTitle {
    font-size: 20px;
  }
  .orderDetails {
    width: 326px; /* Largeur pour mobile */
    padding: 48px 24px 48px 24px;
    margin-top: 16;
  }
  .accordionHeader:hover {
    border: none;
    border-radius: 24px;
    /* background-color: #e9ecef; */
  }

  .timeline {
    width: 100%;
  }
  .trackingTimeline {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.accordionContainer {
  /* margin: 20px 0; */
  width: 100%;
}

.accordionItem {
  border: 1px solid #e0e0e0;
  border-radius: 24px;
  margin-bottom: 12px;
  overflow: hidden;
  background-color: #fff;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); */
}
.accordionItem:hover {
  border: none;
}

/* .accordionItem.active {
  border-color: var(--primary-color);
} */

.accordionHeader {
  width: 100%;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  transition: background-color 0.2s;
}
.accordionItem.active .accordionHeader:hover {
  border: none;
}

.accordionHeader:hover {
  border: 1px solid var(--primary-color);
  border-radius: 24px;
  /* background-color: #e9ecef; */
}

.accordionItem.active .accordionHeader {
  /* background-color: #e7f1ff; */
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0;
  border: none;
}

.trackingNumber {
  font-weight: 600;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

.accordionIcon {
  font-size: 18px;
  font-weight: bold;
  color: #6c757d;
}

.accordionContent {
  /* padding: 0 20px; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordionItem.active .accordionContent {
  /* padding: 0 20px 20px; */
  max-height: 1500px;
}

.accordionIcon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.accordionItem.active .accordionIcon {
  transform: rotate(0deg);
}

.accordionIcon:not(.active) {
  transform: rotate(0deg);
}
