.trackingForm {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
}

.formHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 24px;
}

.trackingIcon {
  width: 36px;
  height: 36px;
}

.formTitle {
  color: var(--primary-color);
  font-size: var(--text-size-large);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.radioGroup {
  padding-bottom: 28px;
}

.radioGroupLabel {
  color: var(--primary-color);
  font-size: var(--text-size-small);
  font-weight: 600;
  margin-bottom: 8px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.radioOptions {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

/* Style pour mobile (vertical) */
@media (max-width: 767px) {
  .radioOptions {
    flex-direction: column; /* Alignement vertical */
    gap: 8px; /* Espacement réduit pour mobile */
  }
}
.inputText {
  padding-bottom: 16px;
  color: var(--primary-color);
}
.inputText::placeholder {
  color: #64747c;
  font-family: "Poppins", sans-serif;
}
.errorMessage {
  font-family: "Poppins", sans-serif;
  color: red;
  padding-top: 8px;
}

@media (max-width: 767px) {
  .trackingForm {
    /*margin-top: 40px;*/
  }
  .formTitle {
    font-size: 24px;
  }
}

@media (max-width: 320px) {
  .formTitle {
    font-size: 24px;
  }
}
