* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: pop;
  src: url(./Fonts/Poppins-Medium.ttf);
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pop;
  flex-direction: column;
  /* background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100'); */
  background-image: url("assets/background.jpg");
  background-size: cover;
}
.container {
  padding: 50px;
  /*glassmorphism*/
  backdrop-filter: blur(7px) saturate(200%);
  -webkit-backdrop-filter: blur(19px) saturate(200%);
  background-color: rgba(77, 72, 56, 0.68);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.formulaire {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  color: #fff;
}
input,
select {
  padding: 7px;
  border-radius: 5px;
}
button {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #ff4732;
}
button:hover {
  background-color: #fff;
  color: #ff4732;
  cursor: pointer;
}
.head {
  text-align: center;
}
.head_1 {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}
.head_1 span {
  color: #ff4732;
}

ul {
  display: flex;
  margin-top: 80px;
}
ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul li .icon {
  font-size: 35px;
  color: #ff4732;
  margin: 0 60px;
}
ul li .text {
  font-size: 14px;
  font-weight: 600;
  color: #ff4732;
}

/* Progress Div Css  */

ul li .progress {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(68, 68, 68, 0.781);
  margin: 14px 0;
  display: grid;
  place-items: center;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.progress::after {
  content: " ";
  position: absolute;
  width: 125px;
  height: 5px;
  background-color: rgba(68, 68, 68, 0.781);
  right: 30px;
}
.one::after {
  width: 0;
  height: 0;
}
ul li .progress .uil {
  display: none;
}
ul li .progress p {
  font-size: 13px;
}

/* Active Css  */

ul li .active {
  background-color: #ff4732;
  display: grid;
  place-items: center;
}
li .active::after {
  background-color: #ff4732;
}
ul li .active p {
  display: none;
}
ul li .active .uil {
  font-size: 20px;
  display: flex;
}
/* Couleur pour le dernier élément actif */
ul li:nth-last-of-type(1) .active {
  background-color: #4caf50; /* Couleur du dernier élément actif */
}

/* Responsive Css  */

@media (max-width: 980px) {
  ul {
    flex-direction: column;
  }
  ul li {
    flex-direction: row;
  }
  ul li .progress {
    margin: 0 30px;
  }
  .progress::after {
    width: 5px;
    height: 55px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .one::after {
    height: 0;
  }
  ul li .icon {
    margin: 15px 0;
  }
}

@media (max-width: 600px) {
  .head .head_1 {
    font-size: 24px;
  }
  .head .head_2 {
    font-size: 16px;
  }
  table tr td {
    padding-right: 100px;
  }
  input,
  select,
  button {
    width: 100%;
  }
}

table tr td {
  padding: 10px;
}
.loading {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 20vh;
  animation: spin 2s linear infinite;
}
/* Définition de l'animation */
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Début de l'animation */
  }
  100% {
    transform: rotate(360deg); /* Fin de l'animation */
  }
}
.info,
.progression {
  display: flex;
  justify-content: center;
  align-items: center;
}
